:root {
  --icon-size: 32px;
  --background-color: #21252b;
  --font-color: #abb2bf;
  --font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-preview {
  margin: 10px;
  position: relative;
}

.icon-preview img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
}

.icon-preview:hover .tooltip {
  display: block;
}
