out
dist

node_modules

.vscode-test/**
*.vsix

icons/file.svg
icons/folder.svg
icons/folder-open.svg
icons/folder-root.svg
icons/folder-root-open.svg

src/scripts/preview/*.html
src/scripts/preview/changes/*.html
src/scripts/contributors/*.html
src/scripts/preview/pixel-perfect-diff
src/scripts/preview/pixel-perfect-pending

src/scripts/illustrator/*
!src/scripts/illustrator/make-file-artboards.js
!src/scripts/illustrator/make-folder-artboards.js
!src/scripts/illustrator/package.json

*.code-workspace

INSTRUCTIONS.md

pixelperfect-templates.ai

.todo
index.html
