.vscode/**
.vscode-test/**
out/test/**
out/previews/**
test/**
src/**
scripts/**
**/*.map
.gitignore
.travis.yml
appveyor.yml
.bithoundrc
tsconfig.json
tslint.json
images/**
vsc-extension-quickstart.md
logo.svg
package-lock.json
yarn.lock