.vscode/**
.github/**
.vscode-test/**
out/**
test/**
src/**
scripts/**
**/*.map
.gitignore
tsconfig.json
tslint.json
images/**
vsc-extension-quickstart.md
logo.svg
node_modules
package-lock.json
yarn.lock
build/**
svgo.config.js
.eslintignore
material-colors.yml
changelog.config.json