:root {
  --main-bg-color: #1e1e1e;
}

body {
  margin: 0;
  padding: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: var(--main-bg-color);
  color: rgb(250, 250, 250);
  font-size: 1rem;
}

td,
th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:last-child {
  border-bottom: 0.5rem solid var(--main-bg-color);
}

tr:first-child {
  border-top: 0.5rem solid var(--main-bg-color);
  border-bottom: 0.5rem solid var(--main-bg-color);
}

.icon {
  width: 2rem;
  text-align: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.iconName {
  min-width: 9rem;
}

img {
  width: 30px;
  height: auto;
}
